:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: 400;
}

.logo {
  font-family: var(--secondary-font);
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-web {
  color: #000;
}

.nav-link {
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #212121;
}

.current {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.mail-link,
.tel-link {
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

.hero-title {
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  /*color: #ffffff;*/
}

.model-btn {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  background-color: var(--accent-color);
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.06em;
}

.model-btn:hover,
.model-btn:focus {
  color: #fff;
}

.title-features {
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.discription-features {
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: #757575;
}

.title-chapter {
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  letter-spacing: 0.03em;
  color: #212121;
}

.title-staff {
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 18;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #212121;
}

.staff-position {
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 19;

  letter-spacing: 0.03em;
  color: #757575;
}

.address-str {
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  /* or 171% */
  letter-spacing: 0.03em;
  /*color: #FFFFFF;*/
}

.address-contact {
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  /* or 171% */
  letter-spacing: 0.03em;
  /*color: rgba(255, 255, 255, 0.6);*/
}

.navigation-btn {
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
}

.navigation-btn:hover,
.navigation-btn:focus {
  background-color: var(--accent-color);
  color: aliceblue;
}

.portfolio-title {
  font-style: 400;
  font-weight: 700;
  font-size: 18px;
  line-height: 2, 00;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}

.portfolio-descrintion {
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 89;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;
  cursor: pointer;
  color: #757575;
}
